body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

input, button {
  padding: 8px;
  margin: 6px;
}

ul {
  list-style: none;
  padding: 0;
}
